<h3>Search Discogs:</h3>
<%= form_tag albums_discogs_path :method => 'get' do |f| %>
  <%= text_field_tag :discogs_search_artist %><br>
  <%= text_field_tag :discogs_search_title %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

